<!-- NOT USED -->
<mat-toolbar color="secondary">

    <p> CURRENT PROJECT </p>
    <p> : </p>
    <p>TITLE</p>
    <span class="flex-spacer"></span>
    <p>Project layer - Project - Governance Approach</p> 
</mat-toolbar>

<div class="container">
    
    <div fxLayout="column" fxLayout.gt-sm="row">
        <div fxFlex="15">
            <app-sidepanel></app-sidepanel>
        </div>

        <div fxFlex="85">
            <p>This is main</p>
            <<router-outlet name="router-outlet-prj-approach"></router-outlet>
        </div>

    </div>


</div>            